.gkc{
  &__richTextEditor{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
  }

  &__richTextEditorSaveButtonContainer{
    margin: 0 auto;

    button{
        width: 100%;
        display: block;
        color: white;
        font-weight: 700;
        position: relative;
        z-index: 10;
        cursor: pointer;
        font-size: 16px;
        margin: -0.75rem auto 0;
        background-color: #2563eb;
        border-radius: 1.2rem;
        border: none;
        padding: 0.7rem 2.5rem;
    }
  }
}
