$gkc__loginBlue : rgb(85, 123, 231);
$gkc__loginDarkBlue : rgb(53,91,192);

.gkc{
   &__loginInput{
      outline: none;
      &:focus{
         border-color: $gkc__loginBlue;
         ~ .gkc__loginInputLabel{
            top: -11px;
         }
        ~ .gkc__loginInputIcon{
           color: $gkc__loginBlue;
        }
      }

      &:not(:placeholder-shown){
         ~ .gkc__loginInputLabel{
            top: -11px;
         }
      }

     display: block;
     margin: 1rem auto;
     width: 83.333333%;
     border: 2px solid #6b7280;
     border-radius: 0.75rem;
     height: 2.5rem;
     padding: 1.5rem 0.5rem;
   }

   &__loginInputLabel{
     background-color: #fff;
     padding: 0 5px;
     transition: 0.2s ease all;
     top: 17px;
     left: 10%;
     position: absolute;
     pointer-events: none;
     color: #9ca3af;
   }

   &__loginInputIcon{
    top: 17px;
    right: 10%;
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #6b7280
  }

   &__loginLogInButton{
    background-color: $gkc__loginDarkBlue;
    transition: all ease 0.5s;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 0.75rem;
    width: 66.666667%;
     &:hover{
       background-color: $gkc__loginBlue;
     }
  }

   &__loginRegisterButton{
    color: $gkc__loginDarkBlue;
    transition: all ease 0.5s;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    outline: none;

    &:hover{
      color: $gkc__loginBlue;
    }
  }

   &__loginContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;

    form{
      text-align: center;
      height: 66.666667%;
      background-color: white;
      width: 83.333333%;
      border-radius: 0.25rem;
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    }
  }

   &__loginLogo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    img{
       margin: 0 auto;
       height: 4rem;
    }

    & +  p{
      text-align: center;
      color: #4b5563;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

   &__loginEmailInputContainer,
   &__loginPasswordInputContainer,
   &__loginSubmitButtonContainer{
    position: relative;
  }

   &__loginSubmitButtonContainer{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

   &__loginInputError{
     font-size: 0.875rem;
     line-height: 1.25rem;
     color: #ef4444;
     margin-bottom: 2rem;
   }

   &__loginAddendum{
     position: relative;
     margin-top: 4rem;
     margin-bottom: 4rem;
     padding-left: 1rem;
     padding-right: 1rem;
     p{
        color: #6b7280;
     }
   }
}

@media screen and (min-width: 640px) {

  .gkc{
    &__loginContainer{
      form{
        width: 66.666667%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .gkc{
    &__loginContainer{
      form{
        width: 33.333333%;
      }
    }
  }
}