$gkc__registerBlue : rgb(85, 123, 231);
$gkc__registerDarkBlue : rgb(53,91,192);

.gkc{
   &__registerInput{
      outline: none;
      &:focus{
         border-color: $gkc__registerBlue;
         ~ .gkc__registerInputLabel{
            top: -11px;
         }
        ~ .gkc__registerInputIcon{
           color: $gkc__registerBlue;
        }
      }

      &:not(:placeholder-shown){
         ~ .gkc__registerInputLabel{
            top: -11px;
         }
      }
   }
   &__registerInputLabel{
     background-color: #fff;
     padding: 0 5px;
     transition: 0.2s ease all;
      top: 17px;
      left: 10%;
   }
  &__registerInputIcon{
    top: 17px;
    right: 10%;
  }

  &__registerSignUpButton{
    background-color: $gkc__registerDarkBlue;
    transition: all ease 0.5s;

    &:hover{
      background-color: $gkc__registerBlue;
    }
  }

  &__registerLogInButton{
    color: $gkc__registerDarkBlue;
    transition: all ease 0.5s;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    outline: none;

    &:hover{
      color: $gkc__registerBlue;
    }
  }
}