html,body{
margin: 0;
padding: 0;
}

.hidden{
    display: none;
}

.relative{
    position: relative;
}

.cursor-pointer{
    cursor: pointer;
}

.text-white{
    color: #fff;
}

.flex{
    display: flex;
}