@font-face {
    font-family: 'Euclid Circular';
    src: local('Euclid Circular Medium'), local('Euclid-Circular-Medium'),
    url('./assets/font/EuclidCircularA-Medium.woff2') format('woff2'),
    url('./assets/font/EuclidCircularA-Medium.woff') format('woff'),
    url('./assets/font/EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


html,body{
margin: 0;
padding: 0;
font-family: 'Euclid Circular', sans-serif;
}

.hidden{
    display: none;
}

.relative{
    position: relative;
}

.cursor-pointer{
    cursor: pointer;
}

.text-white{
    color: #fff;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

input{
    font-family: 'Euclid Circular', sans-serif;
}

input::-webkit-input-placeholder {
    font-family: 'Euclid Circular', sans-serif;
}

input:-ms-input-placeholder {
    font-family: 'Euclid Circular', sans-serif;
}

input:-moz-placeholder {
    font-family: 'Euclid Circular', sans-serif;
}

input::-moz-placeholder {
    font-family: 'Euclid Circular', sans-serif;
}

/* width */
::-webkit-scrollbar {
     width: 5px;
    height: 5px;
 }

/* Track */
::-webkit-scrollbar-track {
     border-radius: 10px;
 }

/* Handle */
::-webkit-scrollbar-thumb {
     background: rgba(0,0,0,.08);;
     border-radius: 10px;
 }