.gkc{
  &__Modal{
    margin: 0 auto;
    width: 90%;
    &Editor{
        background-color: white;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0 auto;
    }
  }

  &__ModalSaveButtonContainer{
    margin: 0 auto;

    button{
      width: 50%;
      display: block;
      color: white;
      font-weight: 700;
      position: relative;
      z-index: 10;
      cursor: pointer;
      padding-top: .7rem;
      padding-bottom: .7rem;
      font-size: 14px;
      margin: -0.75rem auto 0;
      background-color: #2563eb;
      border-radius: 1rem;
      border: none;
    }
  }
}